In [7]:
import os
import pandas as pd

In [8]:
#Import files
genfile = "../Raw Data/EIA_generation_by_state.xls"
# emissfile = "../Raw Data/EIA_emissions_by_state.xls"

In [9]:
#Format into pandas DF
generationXls = pd.ExcelFile(genfile)
# emissionsXls = pd.ExcelFile(emissfile)

generation_df = generationXls.parse('Net_Generation_1990-2019 Final',skiprows=1,header=0)

,YEAR,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,1990,AK,Total Electric Power Industry,Total,5599506.0
1,1990,AK,Total Electric Power Industry,Coal,510573.0
2,1990,AK,Total Electric Power Industry,Hydroelectric Conventional,974521.0
3,1990,AK,Total Electric Power Industry,Natural Gas,3466261.0
4,1990,AK,Total Electric Power Industry,Petroleum,497116.0