In [5]:
import os
import pandas as pd

In [6]:
#Import files
genfile = "../Raw Data/EIA_generation_by_state.xls"
emissfile = "../Raw Data/EIA_emissions_by_state.xls"

In [7]:
#Format into pandas DF
generationXls = pd.ExcelFile(genfile)
emissionsXls = pd.ExcelFile(emissfile)

generation_df = generationXls.parse('Net_Generation_1990-2019 Final',skiprows=1,header=0)
emissions_df = emissionsXls.parse('State Emissions',header=0)

In [9]:
# generation_df.columns
# emissions_df.head()

,Year,State,Producer Type,Energy Source,CO2\n(Metric Tons),SO2\n(Metric Tons),NOx\n(Metric Tons)
0,2010,AK,Commercial Cogen,All Sources,734199,1747,1659
1,2010,AK,Commercial Cogen,Coal,720938,1713,1604
2,2010,AK,Commercial Cogen,Petroleum,13261,34,55
3,2010,AK,Commercial Non-Cogen,All Sources,304,0,6
4,2010,AK,Commercial Non-Cogen,Petroleum,304,0,6

In [11]:
#Format columns & clean data
generation_df.columns= ['year','state','producer type','energy source','generation(mwH)']
generation_df = generation_df.replace({'state':{'US-Total':'US', 'US-TOTAL': 'US'},
                                       'energy source':{'All Sources':'Total'}})
# generation_df.head()

emissions_df.columns = ['year','state','producer type','energy source','CO2 (MT)','SO2 (MT)','NOx (MT)']
emissions_df = emissions_df.replace({'state':{'US-Total':'US','US-TOTAL':'US'},
                                     'energy source':{'All Sources':'Total'}})
# emissions_df.head()

,year,state,producer type,energy source,CO2 (MT),SO2 (MT),NOx (MT)
0,2010,AK,Commercial Cogen,Total,734199,1747,1659
1,2010,AK,Commercial Cogen,Coal,720938,1713,1604
2,2010,AK,Commercial Cogen,Petroleum,13261,34,55
3,2010,AK,Commercial Non-Cogen,Total,304,0,6
4,2010,AK,Commercial Non-Cogen,Petroleum,304,0,6

In [19]:
#Pulling in one producer type for analysis with MERGE
Gen_by_state = generation_df.loc[generation_df['producer type'] == 'Total Electric Power Industry']
# Gen_by_state.head()

Emiss_by_state = emissions_df.loc[emissions_df['producer type'] == 'Total Electric Power Industry']

stateEnergy = pd.merge(Emiss_by_state,Gen_by_state,
                       on=['year','state','producer type','energy source'],how='outer')
# stateEnergy.head()

In [21]:
stateEnergy.to_csv('../cleanData/stateEnergy.csv',index=False,header=True)