In [1]:
import pandas as pd
import psycopg2
import psycopg2.extras
import os

from sqlalchemy import create_engine
from sqlalchemy.orm import session
from sqlalchemy import Column, Integer, String, Float

In [2]:
## SETUP ENGINE
engine = create_engine('postgresql://postgres:password@localhost:5432/energy_db')

In [3]:
#CLEANUP
engine.execute('TRUNCATE TABLE state_energy;')
engine.execute('TRUNCATE TABLE state_greenhouse_emissions;')

engine.execute('ALTER TABLE state_energy DROP CONSTRAINT fk_state_energy_state;')
engine.execute('ALTER TABLE state_greenhouse_emissions DROP CONSTRAINT fk_state_greenhouse_emissions_state;')

engine.execute('TRUNCATE TABLE state;')

engine.execute('ALTER TABLE state_energy ADD CONSTRAINT fk_state_energy_state FOREIGN KEY (state) REFERENCES state (state);')
engine.execute('ALTER TABLE state_greenhouse_emissions ADD CONSTRAINT fk_state_greenhouse_emissions_state FOREIGN KEY (state) REFERENCES state (state);')

In [4]:
engine.execute("SELECT  * FROM state;").fetchall()

[]

In [5]:
state_file = os.path.join("..", "cleanData", "state.csv")
state_df = pd.read_csv(state_file)

In [6]:
state_df.head()

  state  state_name
0    AK      Alaska
1    AL     Alabama
2    AR    Arkansas
3    AZ     Arizona
4    CA  California

In [7]:
state_df.to_sql('state', con=engine, if_exists='append',index=False)

engine.execute("SELECT * FROM state LIMIT 10").fetchall()

[('AK', 'Alaska'),
 ('AL', 'Alabama'),
 ('AR', 'Arkansas'),
 ('AZ', 'Arizona'),
 ('CA', 'California'),
 ('CO', 'Colorado'),
 ('CT', 'Connecticut'),
 ('DE', 'Delaware'),
 ('FL', 'Florida'),
 ('GA', 'Georgia')]

In [8]:
#GREENHOUSE
state_greenhouse_emissions_file = os.path.join("..","cleanData","greenhouse_by_state.csv")
state_greenhouse_emissions_df = pd.read_csv(state_greenhouse_emissions_file)

In [9]:
state_greenhouse_emissions_df = state_greenhouse_emissions_df.rename(columns={'greenhouse emission':'greenhouse_emission'})
state_greenhouse_emissions_df.head()

  state  year  greenhouse_emission
0    AK  2011         3.815045e+06
1    AL  2011         6.979570e+07
2    AR  2011         3.523347e+07
3    AZ  2011         4.793863e+07
4    CA  2011         3.364542e+07

In [10]:
state_greenhouse_emissions_df.to_sql('state_greenhouse_emissions', con=engine, if_exists='append', index=False)

engine.execute("SELECT * FROM state_greenhouse_emissions LIMIT 10").fetchall()

[('AK', 2011, 3815045.0960000004),
 ('AL', 2011, 69795697.04),
 ('AR', 2011, 35233468.64),
 ('AZ', 2011, 47938629.71),
 ('CA', 2011, 33645417.65),
 ('CO', 2011, 40457401.97),
 ('CT', 2011, 6770724.351),
 ('DC', 2011, 362516.148),
 ('DE', 2011, 3824963.251),
 ('FL', 2011, 95523140.58)]

In [11]:
##STATE ENERGY
state_energy_file = os.path.join("..", "cleanData", "stateEnergy.csv")
state_energy_df = pd.read_csv(state_energy_file)
state_energy_df.head()

,year,state,producer type,energy source,CO2 (MT),SO2 (MT),NOx (MT),generation(mwH)
0,2010,AK,Total Electric Power Industry,Total,4240355.0,3710.0,16855.0,6759576.0
1,2010,AK,Total Electric Power Industry,Coal,1333944.0,2293.0,2742.0,620443.0
2,2010,AK,Total Electric Power Industry,Natural Gas,2077696.0,10.0,5794.0,3750024.0
3,2010,AK,Total Electric Power Industry,Other Biomass,0.0,38.0,5.0,6304.0
4,2010,AK,Total Electric Power Industry,Petroleum,828715.0,1369.0,8314.0,937056.0

In [13]:
state_energy_df = state_energy_df.rename(columns={
    'producer type': 'producer_type',
    'energy source': 'energy_source',
    'CO2 (MT)': 'co2_mt',
    'SO2 (MT)': 'so2_mt',
    'NOx (MT)': 'nox_mt',
    'generation(mwH)': 'generation_mwh'
})

state_energy_df.head()

,year,state,producer_type,energy_source,co2_mt,so2_mt,nox_mt,generation_mwh
0,2010,AK,Total Electric Power Industry,Total,4240355.0,3710.0,16855.0,6759576.0
1,2010,AK,Total Electric Power Industry,Coal,1333944.0,2293.0,2742.0,620443.0
2,2010,AK,Total Electric Power Industry,Natural Gas,2077696.0,10.0,5794.0,3750024.0
3,2010,AK,Total Electric Power Industry,Other Biomass,0.0,38.0,5.0,6304.0
4,2010,AK,Total Electric Power Industry,Petroleum,828715.0,1369.0,8314.0,937056.0

In [17]:
clean_state_energy_df = state_energy_df[state_energy_df['state'] != '  ']

In [18]:
clean_state_energy_df.to_sql('state_energy',con=engine,if_exists='append',index=False)

engine.execute("SELECT * FROM state_energy LIMIT 10").fetchall()

[(2010, 'AK', 'Total Electric Power Industry', 'Total', 4240355.0, 3710.0, 16855.0, 6759576.0),
 (2010, 'AK', 'Total Electric Power Industry', 'Coal', 1333944.0, 2293.0, 2742.0, 620443.0),
 (2010, 'AK', 'Total Electric Power Industry', 'Natural Gas', 2077696.0, 10.0, 5794.0, 3750024.0),
 (2010, 'AK', 'Total Electric Power Industry', 'Other Biomass', 0.0, 38.0, 5.0, 6304.0),
 (2010, 'AK', 'Total Electric Power Industry', 'Petroleum', 828715.0, 1369.0, 8314.0, 937056.0),
 (2010, 'AL', 'Total Electric Power Industry', 'Total', 69238676.0, 284909.0, 52587.0, 152150512.0),
 (2010, 'AL', 'Total Electric Power Industry', 'Coal', 55268174.0, 261506.0, 40834.0, 63050411.0),
 (2010, 'AL', 'Total Electric Power Industry', 'Natural Gas', 13354283.0, 68.0, 6998.0, 39235017.0),
 (2010, 'AL', 'Total Electric Power Industry', 'Other Gases', 0.0, 15.0, 322.0, 276725.0),
 (2010, 'AL', 'Total Electric Power Industry', 'Other Biomass', 0.0, 39.0, 46.0, 11533.0)]